.surveyParrot {
  display: none;
}

.surveyResults {
  display: none;
}

#languageRuby {
  display: none;
}

#languageCs {
  display: none;
}

#languageJavascript {
  display: none;
}

#languageGo {
  display: none;
}

#languagePython {
  display: none;
}

#languageRust {
  display: none;
}

#languageRuby {
  display: none;
}
